.content-grid
    display: grid
    grid-template-rows: repeat(4, 1fr )
    grid-template-columns: repeat(4, 1fr )
    margin: 15px
    gap: 10px

.content-box

    .img-container
        width: 100%
    
    img
        width: 100%

    .displayed
        display: block

    .not-displayed
        display: none