#index_page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    background-image: url("https://drive.google.com/uc?export=view&id=1pFIi8A1zVnY6x4V3tO-5-U44kHVrF1ed");
    background-position: center;
    background-position: cover;
}

#logo_container {
    width: 90%;
    margin-top: 4%;
    max-width: 1500px;
}

.content_middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_links.index a {
    color: white;
}
