#menu {
    background-color: salmon;
    position: absolute;
    bottom: 0;
    width: 50vw;
    left: 25vw;
}

#nav_links {
}

#nav_links.closed {
    overflow: hidden;
    height: 0px;
    animation-name: close;
    animation-duration: 1s;
}

#nav_links.open {
    height: auto;
    animation-name: open;
    animation-duration: 1s;
}

@keyframes open {
    from {height: 0px;}
    to {height: auto;}
}

@keyframes close {
    from {height: auto;}
    to {height: 0px;}
}