#nav_bar {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

#nav_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    padding: 0px 5%;
    min-height: 50px;
    max-height: 85px;
}

#nav_bar_spacer {
    height: 8vh;
    min-height: 50px;
    max-height: 85px;
    z-index: -9999;
}

#nav_btns button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav_btns.open {
    justify-content: space-evenly;
}

#back_btn.open {
    display: none;
}

#nav_content {
    overflow: hidden;
    height: 0px;
}

#info_title {
    text-align: center;
}

#info_content {
    padding: 1em 1.5em;
}

#nav_content.closed {
    animation-name: close_ani_nav;
    animation-duration: 0.5s;
}

#nav_content.open {
    height: 92vh;
    animation-name: open_ani_nav;
    animation-duration: 0.5s;
    overflow: scroll;
}

#toggle_menu {
    display: none;
}

#toggle_menu.show {
    display: block;
}

#toggle_info {
    display: none;
}

#toggle_info.show {
    display: block;
}

@keyframes open_ani_nav {
    from {height: 0px;}
    to {height: 92vh;}
}

@keyframes close_ani_nav {
    from {height: 92vh;}
    to {height: 0px;}
}

.nav_links.desktop {
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {
    .nav_links.desktop {
        display: none;
    }
}

@media (min-width: 900px) {
    #nav_btns button {
        display: none;
    }

    #nav_btns {
        justify-content: center;
        padding: 0px;
    }

    .nav_links {
        justify-content: center;
    }

    .nav_links.desktop .nav_link {
        margin: 0px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.nav_link.menu {
    margin-top: 1.5em;
}
