#nav_bar {
    background-color: salmon;
    width: 100%;
    left: 25vw;
}

#nav_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.5% 5%;
}

#nav_btns.open {
    justify-content: space-evenly;
}

#back_btn.open {
    display: none;
}

#nav_content {
    overflow: hidden;
    height: 0px;
}

#nav_content.open {
    overflow: visible;
}

#nav_content.menu.closed {
    animation-name: close_ani_menu;
    animation-duration: 0.5s;
}

#nav_content.menu.open {
    height: 30vh;
    animation-name: open_ani_menu;
    animation-duration: 0.5s;
}

#nav_content.info.closed {
    animation-name: close_ani_info;
    animation-duration: 0.5s;
}

#nav_content.info.open {
    height: 100vh;
    animation-name: open_ani_info;
    animation-duration: 0.5s;
}

#toggle_menu {
    display: none;
}

#toggle_menu.show {
    display: block;
}

#toggle_info {
    display: none;
}

#toggle_info.show {
    display: block;
}

@keyframes open_ani_menu {
    from {height: 0px;}
    to {height: 30vh;}
}

@keyframes close_ani_menu {
    from {height: 30vh;}
    to {height: 0px;}
}

@keyframes open_ani_info {
    from {height: 0px;}
    to {height: 100vh;}
}

@keyframes close_ani_info {
    from {height: 100vh;}
    to {height: 0px;}
}

.nav_link.menu {
    margin-top: 1.5em;
}