.site_content.project {
    flex-direction: row;
    justify-content: center;
}

#info_container {
    height: 100%;
    width: 35%;
    overflow-y: scroll;
}

#info_container.hidden {
    display: none;
}

#info_content.desktop {
    margin: 1em 10%; 
}

#info_title.desktop {
    margin-top: 1em;
    font-size: 3em;
}

#book_container {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: row;
}

.spread {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page {
    height: 100%;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.spread.hidden {
    display: none;
}

@media (max-width: 900px) {
    #info_container.desktop {
        display: none;
    }

    #book_container {
        height: 100%;
        width: 100%;
    }
}
